@charset "utf-8";

/* common style */
a {
	display: block;
	text-decoration: none;
	border: 0;
	outline: 0;
}

.clear {
	clear: both;
}

section span {
	color: #f771d1;
} /* Point Color*/

/* 조건에 맞는 럼 출력 스위치 */
.filterBoxInner>button {
	display: block;
	margin: 0 auto;
	padding-bottom: 4px;
	width: 120px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	color: #333;
	text-transform: capitalize;
	background: #fff;
	border: 2px solid #808292;
	transition: all 0.4s ease-in;
}

.filterBoxInner>button:hover {
	color: #fff;
	background: #808292;
	border: 0;
}

/* 럼 출력 슬라이더 모양 */
.itemShow {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:space-between;
    margin: 0 auto;
    padding: 0 10px;
    width:100%;
}


/* 럼 출력 슬라이더 상품소개 박스 */
.itemBox {
	display:flex;
	flex-direction:column;
	align-items:center;
    position: relative;
    padding: 50px 20px 30px;
    margin: 10px;
    width: 280px;
    height: 560px;
    border-radius: 10px;
    border: 3px solid rgba(3, 3, 3, 0.5);
    transition: all 0.3s ease-in;
    background: #f3f3f6;
}

.itemBox:hover {
    box-shadow: 0 0 0 10px rgba(3, 3, 3, 0.5);
}

.itemBox>.itemImg {
    width: 220px;
    height: 220px;
    margin:0 auto 25px;
    border-radius: 100%;
    object-fit: cover;
}
.itemBox>h5 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
.itemBox>p {
    white-space: normal;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.itemBox>a {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 2px 2px 3px 2px rgba(3, 3, 3, 0.5);
    transition: all 0.3s ease-in;
}
.itemBox>a:hover {
    color: #333;
    background: rgba(3, 3, 3, 0.1);
    border: 0;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.2) inset, 1px 1px 3px
        rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(188, 188, 188, 0.5);
}

footer {
	margin-top:120px;
}

/* ///// FHD ////// */
@media screen and (min-width: 1450px) {
	/* 타이틀 박스 */
	div.banner {
		height: 580px;
		width: 100%;
		background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
		background-size: cover;
		position: relative;
	}
	.banner::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		opacity: 0.3;
		background: #000;
	}
	h2.subTitle {
		position: relative;
		padding-top: 280px;
		font-family: "Abril Fatface", cursive;
		font-size: 80px;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		background: #ffffff;
		background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%,
			#f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1
			64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%,
			#c872f2 70%, #ffffff 85%, #ffffff 95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.first>.h3_tbup {
		position: relative;
		font-family: "Gowun Batang", serif;
		font-size: 26px;
		text-align: center;
		color: #fff;
	}
	.first>p {
		position: relative;
		padding-top: 10px;
		text-align: center;
		color: #fff;
	}
	.first>.h3_sm {
		display: none;
	}
	h4 {
		margin: 120px auto 0;
		text-align: center;
		font-family: "Lora", serif;
		font-size: 42px;
		font-weight: bold;
		text-transform: capitalize;
	}
	.h4_p {
		text-align: center;
		margin-bottom: 70px;
	}

	/* body 다음 최상위 박스 */
	section.itemFilterBox {
		margin: 0 auto;
		padding-bottom: 120px;
		width: 1420px;
	}

	/* 메인메뉴 외부 박스 */
	.filterBox {
		width: 100%;
		/* height: 420px; */
		/*높이값 최상위 */
		margin: 0 auto;
		padding: 10px;
		background: #f4f4f6;
		border-radius: 10px;
	}
	.filterBoxInner {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 20px;
		background: #fff;
		border-radius: 10px;
	}

	/* 좌측 메뉴 모양 */
	.pickingBox {
		width: 45%;
	}
	.pickingBox>div {
		position: relative;
		margin-bottom: 10px;
		width: 100%;
	}
	.l-pickingBox>div:nth-child(4) {
		margin-bottom: 80px;
	}
	.pickingBox>div>label {
		width: 25%;
	}
	.pickingBox>div>.pickingBoxDesc {
		width: 75%;
	}
	.r-pickingBox>div>.pickedBox {
		width: 75%;
	}
	.pickingBoxDesc, .pickedBox {
		position: absolute;
		left: calc(25% - 1px); /*제목 너비보다 1작게 */
		top: 0;
	}
	.pickingBoxDesc, .pickedBox>div:nth-child(1) {
		height: 62px;
		padding: 0 30px;
		font-size: 16px;
		color: #333;
		line-height: 57px;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
	}

	/* 블라인드 */
	.pickingBox>div>.blind2 {
		z-index: 9;
		position: absolute;
		left: calc(25% - 1px); /*제목 너비보다 1px 적게*/
		top: 62px;
		width: 2px;
		height: 10px;
		background: #fff;
	}
	.pickingBox>div>.blind3 {
		z-index: 2;
		position: absolute;
		left: 25%; /*제목 너비와 같게*/
		top: 1px;
		width: 1px;
		height: 60px;
		background: #fff;
	}

	/* 좌측메뉴 제목 모양 */
	.pickingBox>div>input {
		display: none;
	}
	.pickingBox>div>label {
		display: block;
		width: 25%; /* 블라인드, Desc박스 기준점*/
		height: 62px;
		z-index: 9;
		font-size: 16px;
		color: #9542bf;
		text-transform: uppercase;
		text-align: center;
		line-height: 60px;
		background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
		border: solid 1px #f5d1e9;
		border-radius: 10px 0 0 10px;
		transition: all 0.4s ease-in;
	}
	/* 제목에 마우스 오버 시 효과 */
	.pickingBox:nth-child(1)>div>label:hover {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
	}
	/* 제목에 마우스 오버 시 우측 블라인드 */
	.pickingBox:nth-child(1)>div>label:hover+div {
		z-index: 11;
		position: absolute;
		left: calc(25% - 1px); /*제목 너비보다 1작게*/
		top: 1px;
		width: 2px;
		height: 60px;
		background: #fff;
	}
	/* 제목 클릭시 배경 효과 */
	.pickingBox:nth-child(1)>div>input:checked ~ label {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
		border: solid 1px #f5d1e9;
	}
	/* 제목 클릭시 블라인드 활성화 */
	.pickingBox:nth-child(1)>div>input:checked ~ div:nth-child(-n+3) {
		z-index: 11;
		position: absolute;
		left: calc(25% - 1px); /*제목 너비보다 1작게*/
		top: 1px;
		width: 2px;
		height: 60px;
		background: #fff;
	}

	/* 좌우 슬라이더-서브메뉴 모양 */
	.submenu {
		position: absolute;
		z-index: 1;
		left: calc(25% - 1px); /*제목 너비보다 1작게*/
		height: 278px;
		width: 0;
		overflow: hidden;
		background: #fff;
		border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
		border-radius: 0 10px 10px 0;
		transition: all 0.4s ease-in;
	}
	.submenuNose {
		top: 0;
	}
	.submenuPalate {
		top: -72px;
	}
	.submenuFinish {
		top: -144px;
	}
	.submenuType {
		top: -216px;
	}

	/* 서브메뉴 선택 후 모양 */
	#noseBtn:checked ~ .submenuNose {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: 75%; /*메인메뉴 제목 |너비-1|값*/
		padding: 0 20px;
	}
	#palateBtn:checked ~ .submenuPalate {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: 75%;
		padding: 0 20px;
	}
	#finishBtn:checked ~ .submenuFinish {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: 75%;
		padding: 0 20px;
	}
	#typeBtn:checked ~ .submenuType {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: 75%;
		padding: 0 20px;
	}

	/* 서브메뉴 내부 컨텐츠 */
	.submenu input {
		display: none;
	}
	.submenu input:checked+label {
		color: #9542bf;
		text-shadow: 0 0 2px #9542bf;
	}
	.submenu label {
		float: left;
	}
	.submenu label {
		display: block;
		float: left;
		padding: 10px 30px 10px 10px;
		cursor: pointer;
		font-size: 16px;
		text-transform: uppercase;
		transition: all 0.4s ease-in;
	}
	.submenu label:hover {
		color: #9542bf;
	}

	/* 우측 메뉴 시작 */
	.r-pickingBox>div:nth-child(4) {
		margin-bottom: 80px;
	}
	.r-pickingBox>div>label {
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}
	/* 우측메뉴 스크롤 화살표 */
	.pickedBox .chevron {
		z-index: 9;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 50%;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox .chevron:hover {
		filter: invert(0.9);
	}
	.pickedBox .Lchevron {
		left: 10px;
		background: url(../imgs/toLeft.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}
	.pickedBox .Rchevron {
		right: 10px;
		background: url(../imgs/toRight.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}

	/* submenu2 overflow shading box */
	.pickedBox .shading {
		z-index: 8;
		position: absolute;
		width: 70px;
		height: calc(100% - 2px);
	}
	.pickedBox div[class*="left"] {
		top: 1px;
		left: 1px;
		background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
	.pickedBox div[class*="right"] {
		top: 1px;
		right: 1px;
		border-radius: 0 10px 10px 0;
		background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}

	/* 선택된 항목 출력 박스*/
	.pickedBox>div:nth-child(1) {
		display: flex;
		align-items: center;
		overflow: hidden;
		padding: 0 35px;
	}
	.pickedBox input {
		display: none;
	}
	.pickedBox label {
		position: relative;
		margin-right: 15px;
		height: 42px;
		padding: 5px 50px 5px 20px;
		line-height: 27px;
		white-space: nowrap;
		color: #333;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #9542bf;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox label:hover {
		color: #9542bf;
		border: 1px solid transparent;
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}
	.pickedBox label::after {
		position: absolute;
		top: 10px;
		right: 20px;
		content: "×";
		color: #fff;
		font-size: 15px;
		line-height: 20px;
		width: 20px;
		height: 20px;
		background: #333;
		border-radius: 50%;
	}
	.filterBoxInner>button {
		position: absolute;
		bottom: 20px;
	}
	
	.itemShow {
		max-width:1420px;
	}
}

/* ///// HD ///// */
@media screen and (min-width: 1050px) and (max-width: 1449px) {
	/* 섹션 타이틀 */
	.banner {
		height: 580px;
		width: 100%;
		background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
		background-size: cover;
		position: relative;
	}
	.banner::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		opacity: 0.3;
		background: #000;
	}
	.subTitle {
		position: relative;
		padding-top: 230px;
		font-size: 80px;
		font-family: "Abril Fatface", cursive;
		font-weight: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
		background: #ffffff;
		background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%,
			#f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1
			64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%,
			#c872f2 70%, #ffffff 85%, #ffffff 95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	/* body 다음 최상위 박스 */
	section.itemFilterBox {
		margin: 0 auto;
		padding: 0 20px 120px;
		width: 100%;
	}
	.first>.h3_tbup {
		position: relative;
		font-family: "Gowun Batang", serif;
		font-size: 26px;
		text-align: center;
		color: #fff;
	}
	.first>p {
		position: relative;
		padding-top: 10px;
		text-align: center;
		color: #fff;
	}
	.first>.h3_sm {
		display: none;
	}
	h4 {
		margin-top: 120px;
		text-align: center;
		font-family: "Lora", serif;
		font-size: 42px;
		font-weight: bold;
		text-transform: capitalize;
	}
	.h4_p {
		text-align: center;
	}

	/* 메인메뉴 외부 박스 */
	.filterBox {
		width: 100%;
		height: 397px; /*높이값 최상위 */
		margin: 70px auto 0;
		padding: 10px;
		background: #f4f4f6;
		border-radius: 10px;
	}
	.filterBoxInner {
		display: flex;
		justify-content: space-evenly;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 20px 30px;
		background: #fff;
		border-radius: 10px;
	}

	/* 메인메뉴 모양 */
	.pickingBox {
		width: 48%;
	}
	.pickingBox>div {
		position: relative;
		margin-bottom: 10px;
		width: 100%;
	}
	.l-pickingBox>div:nth-child(4) {
		margin-bottom: 80px;
	}
	.pickingBox>div>label {
		width: 20%;
	}
	.pickingBoxDesc {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: calc(20% - 1px); /*제목 너비보다 1작게 */
		height: 62px;
		width: calc(100% - 20% - 1px);
		padding: 0 10px;
		font-size: 14px;
		color: #333;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
	}

	/* 메인메뉴 제목 모양 */
	.pickingBox>div>input {
		display: none;
	}
	.pickingBox>div>label {
		display: block;
		width: 20%; /* 블라인드, Desc박스 기준점*/
		height: 62px;
		z-index: 9;
		font-size: 14px;
		color: #9542bf;
		text-transform: uppercase;
		text-align: center;
		line-height: 60px;
		background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
		border: solid 1px #f5d1e9;
		border-radius: 10px 0 0 10px;
		transition: all 0.4s ease-in;
	}
	.pickingBox:nth-child(1)>div>label:hover {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>label:hover+div {
		z-index: 11;
		position: absolute;
		left: calc(20% - 1px); /*제목 너비보다 1작게*/
		top: 1px;
		width: 2px;
		height: 60px;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>input:checked ~ label {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
		border: solid 1px #f5d1e9;
	}
	.pickingBox:nth-child(1)>div>input:checked ~ div:nth-child(-n+3) {
		z-index: 11;
		position: absolute;
		left: calc(20% - 1px); /*제목 너비보다 1작게*/
		top: 1px;
		width: 2px;
		height: 60px;
		background: #fff;
	}

	/* 블라인드 */
	.pickingBox>div>.blind2 {
		z-index: 9;
		position: absolute;
		left: calc(20% - 1px); /*제목 너비보다 1px 적게*/
		top: 62px;
		width: 2px;
		height: 10px;
		background: #fff;
	}
	.pickingBox>div>.blind3 {
		z-index: 2;
		position: absolute;
		left: 20%; /*제목 너비와 같게*/
		top: 1px;
		width: 1px;
		height: 60px;
		background: #fff;
	}

	/* 좌측 서브메뉴 모양 */
	.submenu {
		position: absolute;
		z-index: 1;
		left: calc(20% - 1px); /*제목 너비보다 1작게*/
		height: 278px;
		width: 0;
		overflow: hidden;
		background: #fff;
		border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
		border-radius: 0 10px 10px 0;
		transition: all 0.4s ease-in;
	}
	.submenuNose {
		top: 0;
	}
	.submenuPalate {
		top: -72px;
	}
	.submenuFinish {
		top: -144px;
	}
	.submenuType {
		top: -216px;
	}

	/* 좌측 서브메뉴 선택 후 모양 */
	#noseBtn:checked ~ .submenuNose {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 20% - 1px);
	}
	#palateBtn:checked ~ .submenuPalate {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 20% - 1px);
	}
	#finishBtn:checked ~ .submenuFinish {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 20% - 1px);
	}
	#typeBtn:checked ~ .submenuType {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 20% - 1px);
	}

	/* 좌측 서브메뉴 제목 모양 */
	.submenu input {
		display: none;
	}
	.submenu input:checked+label {
		color: #9542bf;
		text-shadow: 0 0 2px #9542bf;
	}
	.submenu label {
		float: left;
	}
	.submenu label {
		display: block;
		float: left;
		padding: 10px 30px 10px 10px;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
		transition: all 0.4s ease-in;
	}
	.submenu label:hover {
		color: #9542bf;
	}

	/* 우측 서브메뉴 선택된 항목 출력 박스 HD*/
	.r-pickingBox {
		width: 45%;
	}
	.r-pickingBox>div:nth-child(4) {
		margin-bottom: 80px;
	}
	.r-pickingBox>div>label {
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}
	.r-pickingBox>div>.pickedBox {
		position: absolute;
		top: 0;
		left: calc(20% - 1px); /*제목 너비보다 1작게 */
		width: calc(100% - 20% - 1px);
		display: flex; /* 하위 li들 정렬용 */
	}
	.pickedBox>div:nth-child(1) {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		height: 62px;
		padding: 0 30px;
		overflow: hidden;
		font-size: 14px;
		color: #333;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
	}
	.pickedBox input {
		display: none;
	}
	.pickedBox div label {
		position: relative;
		margin-right: 15px;
		height: 42px;
		padding: 5px 50px 5px 20px;
		line-height: 27px;
		white-space: nowrap;
		color: #333;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #9542bf;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox div label::after {
		position: absolute;
		top: 10px;
		right: 20px;
		content: "×";
		color: #fff;
		font-size: 15px;
		line-height: 20px;
		width: 20px;
		height: 20px;
		background: #333;
		border-radius: 50%;
	}
	.pickedBox div label:hover {
		color: #9542bf;
		border: 1px solid transparent;
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}

	/* 우측 서브메뉴 스크롤 화살표 */
	.pickedBox .chevron {
		z-index: 9;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
		height: 40px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox .chevron:hover {
		filter: invert(0.9);
	}
	.pickedBox .Lchevron {
		left: 10px;
		background: url(../imgs/toLeft.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}
	.pickedBox .Rchevron {
		right: 10px;
		background: url(../imgs/toRight.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}

	/* 우측서브메뉴 overflow 쉐이딩박스 */
	.pickedBox .shading {
		z-index: 8;
		position: absolute;
		width: 70px;
		height: calc(100% - 2px);
	}
	.pickedBox div[class*="left"] {
		top: 1px;
		left: 1px;
		background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
	.pickedBox div[class*="right"] {
		top: 1px;
		right: 1px;
		border-radius: 0 10px 10px 0;
		background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
	.filterBoxInner>button {
		position: absolute;
		bottom: 20px;
	}
}


/* ///// TB ///// */
@media screen and (min-width: 660px) and (max-width: 1049px) {
	/* 섹션 타이틀 */
	.banner {
		position: relative;
		height: 580px;
		width: 100%;
		background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
		background-size: cover;
	}
	.banner::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		opacity: 0.3;
		background: #000;
	}
	h2 {
		position: relative;
		padding-top: 230px;
		font-size: 70px;
		text-transform: uppercase;
		text-align: center;
		font-family: "Abril Fatface", cursive;
		font-weight: normal;
		letter-spacing: 1px;
		background: #ffffff;
		background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%,
			#f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1
			64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%,
			#c872f2 70%, #ffffff 85%, #ffffff 95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.first {
		position: relative;
		padding: 0;
	}
	.first>.h3_tbup {
		font-family: "Gowun Batang", serif;
		font-size: 26px;
		text-align: center;
		color: #fff;
		text-shadow: 2px 2px 5px #333;
	}
	.first>p {
		text-align: center;
		padding: 10px 0 0 0;
		color: #fff;
		text-shadow: 2px 2px 5px #333;
	}
	.first>.h3_sm {
		display: none;
	}

	/* body 다음 최상위 박스 */
	section.itemFilterBox {
		margin: 0 auto;
		padding: 0 20px 120px;
		width: 100%;
	}
	h4 {
		margin: 120px 0 -5px;
		text-align: center;
		font-family: "Lora", serif;
		font-size: 42px;
		font-weight: bold;
		text-transform: capitalize;
	}
	.h4_p {
		text-align: center;
	}

	/* 메인메뉴 외부 박스 */
	.filterBox {
		width: 100%;
		height: 750px;
		margin: 70px auto 0;
		padding: 10px;
		background: #f4f4f6;
		border-radius: 10px;
	}
	.filterBoxInner {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 20px;
		background: #fff;
		border-radius: 10px;
	}

	/* 메인메뉴 윤곽 */
	.pickingBox {
		width: 100%;
	}
	.pickingBox>div {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.pickingBoxDesc {
		position: absolute;
		top: 0;
		left: 149px; /*메인메뉴 제목 너비보다 1px작게*/
		width: calc(100% - 149px);
		height: 62px;
		font-size: 16px;
		color: #333;
		line-height: 57px;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
		padding: 0 20px;
	}

	/* 메인메뉴 제목 모양 */
	.pickingBox>div>input {
		display: none;
	}
	.pickingBox>label {
		font-size: 16px;
	}
	.pickingBox>div>label {
		display: block;
		width: 150px; /* width 초기값 176px */
		height: 62px;
		z-index: 9;
		font-size: 16px;
		color: #9542bf;
		text-transform: uppercase;
		text-align: center;
		line-height: 60px;
		background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
		border: solid 1px #f5d1e9;
		border-radius: 10px 0 0 10px;
		transition: all 0.4s ease-in;
	}
	.pickingBox:nth-child(1)>div>label:hover {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>input:checked ~ label {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
		border: solid 1px #f5d1e9;
	}

	/* 메인&서브메뉴 사이 블라인드 */
	.pickingBox>div>.blind2 {
		z-index: 9;
		position: absolute;
		left: 149px;
		top: 62px; /*.pickedBox left값과 같게*/
		width: 2px;
		height: 10px;
		background: #fff;
	}
	.pickingBox>div>.blind3 {
		z-index: 2;
		position: absolute;
		left: 150px;
		top: 1px; /*메인메뉴 제목 너비와 같게*/
		width: 1px;
		height: 60px;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>label:hover+div {
		z-index: 11;
		position: absolute;
		left: 149px;
		top: 1px; /*메인메뉴 제목 너비보다 1작게*/
		width: 2px;
		height: 60px;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>input:checked ~ div:nth-child(-n+3) {
		z-index: 11;
		position: absolute;
		left: 149px;
		top: 1px; /*메인메뉴 제목 너비보다 1작게*/
		width: 2px;
		height: 60px;
		background: #fff;
	}

	/* 서브메뉴 모양 */
	.submenu {
		position: absolute;
		z-index: 1;
		left: 149px; /*메인메뉴 제목 너비보다 1 작게*/
		height: 278px;
		width: 0;
		overflow: hidden;
		background: #fff;
		border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
		border-radius: 0 10px 10px 0;
		transition: all 0.4s ease-in; /* 작동 안하는 이유 불명 */
	}
	.submenuNose {
		top: 0;
	}
	.submenuPalate {
		top: -72px;
	}
	.submenuFinish {
		top: -144px;
	}
	.submenuType {
		top: -216px;
	}

	/* 서브메뉴 제목 선택 후 모양 */
	#noseBtn:checked ~ .submenuNose {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 149px);
		padding: 0 10px;
	}
	#palateBtn:checked ~ .submenuPalate {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 149px);
		padding: 0 10px;
	}
	#finishBtn:checked ~ .submenuFinish {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 149px);
		padding: 0 10px;
	}
	#typeBtn:checked ~ .submenuType {
		z-index: 10;
		border: 1px solid #f5d1e9;
		width: calc(100% - 149px);
		padding: 0 10px;
	}

	/* 상단 서브메뉴 슬라이더 항목 모양 */
	.submenu input {
		display: none;
	}
	.submenu input:checked+label {
		color: #9542bf;
		text-shadow: 0 0 2px #9542bf;
	}
	.submenu label {
		float: left;
	}
	.submenu label {
		display: block;
		float: left;
		padding: 10px 30px 10px 10px;
		cursor: pointer;
		font-size: 16px;
		text-transform: uppercase;
		transition: all 0.4s ease-in;
	}
	.submenu label:hover {
		color: #9542bf;
	}

	/* 하단 서브메뉴 - 선택된 항목 출력 */
	.r-pickingBox {
		width: 100%;
	}
	.r-pickingBox>div {
		position: relative;
		width: 100%;
	}
	.r-pickingBox>div>label {
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}
	.r-pickingBox>div>.pickedBox {
		position: absolute;
		top: 0;
		left: 149px; /*메인메뉴 제목 너비보다 1px작게*/
		width: calc(100% - 149px);
		height: 62px;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
	}
	.pickedBox div:nth-child(1) {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		overflow: hidden;
		padding: 0 60px;
	}
	.pickedBox input {
		display: none;
	}
	.pickedBox label {
		position: relative;
		margin-right: 15px;
		height: 42px;
		padding: 5px 50px 5px 20px;
		line-height: 27px;
		white-space: nowrap;
		color: #333;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #9542bf;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox label::after {
		position: absolute;
		top: 10px;
		right: 20px;
		content: "×";
		color: #fff;
		font-size: 15px;
		line-height: 20px;
		width: 20px;
		height: 20px;
		background: #333;
		border-radius: 50%;
	}
	.pickedBox label:hover {
		color: #9542bf;
		border: 1px solid transparent;
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}

	/* 하단 서브메뉴 스크롤 화살표 */
	.pickedBox .chevron {
		top: calc(50% - 20px);
		z-index: 9;
		position: absolute;
		width: 20px;
		height: 40px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox .chevron:hover {
		filter: invert(0.9);
	}
	.pickedBox .Lchevron {
		left: 30px;
		background: url(../imgs/toLeft.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}
	.pickedBox .Rchevron {
		right: 30px;
		background: url(../imgs/toRight.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}

	/* 하단 서브메뉴 overflow 쉐이딩박스 */
	.pickedBox .shading {
		top: 0px;
		z-index: 8;
		position: absolute;
		width: 70px;
		height: 60px;
	}
	.pickedBox div[class*="left"] {
		left: 0px;
		background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
	.pickedBox div[class*="right"] {
		right: 0px;
		border-radius: 0 10px 10px 0;
		background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
}



/* ///// SM ///// */
@media screen and (max-width: 659px) {
	/* 섹션 타이틀 */
	.banner {
		height: 610px;
		width: 100%;
		background: url(../imgs/ourRumsTitleBoxImg.png) no-repeat center;
		background-size: cover;
		position: relative;
	}
	.banner::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		opacity: 0.3;
		background: #000;
	}
	h2 {
		position: relative;
		padding-top: 350px;
		font-size: 45px;
		text-transform: uppercase;
		text-align: center;
		font-family: "Abril Fatface", cursive;
		font-weight: normal;
		letter-spacing: 1px;
		background: #ffffff;
		background: -webkit-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%,
			#f772d1 64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: -moz-linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1
			64%, #c872f2 70%, #ffffff 85%, #ffffff 95%);
		background: linear-gradient(to bottom right, #ffffff 0%, #ffffff 59%, #f772d1 64%,
			#c872f2 70%, #ffffff 85%, #ffffff 95%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.rotate {
		position: absolute;
		left: -110px;
		top: 340px;
		transform: rotate(270deg);
		transform-origin: left;
	}
	.first {
		display: none;
		position: relative;
	}
	.first>.h3_tbup {
		display: none;
	}
	.first>h3 {
		font-family: "Gowun Batang", serif;
		font-size: 18px;
		text-align: center;
		line-height: 22px;
		color: #fff;
		text-shadow: 1px 3px 3px #333;
	}
	.first>p {
		width: 50%;
		margin: 0 auto;
		padding-top: 10px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		text-shadow: 1px 3px 3px #333;
	}

	/* body 다음 최상위 박스 */
	section.itemFilterBox {
		margin: 0 auto;
		padding: 120px 20px 120px;
		width: 100%;
	}
	h4 {
		text-align: center;
		font-family: "Lora", serif;
		font-size: 30px;
		font-weight: bold;
		text-transform: capitalize;
	}
	.h4_p {
		font-size: 14px;
		text-align: center;
	}

	/* 메인메뉴 외부 박스 SM */
	.filterBox {
		width: 100%; /*최소너비 보다 20px작게*/
		height: 720px; /*갤S5 최소높이는 640*/
		margin: 60px auto 0;
		padding: 10px;
		background: #f4f4f6;
		border-radius: 10px;
	}
	.filterBoxInner {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0 10px;
		background: #fff;
		border-radius: 10px;
	}

	/* 메인메뉴 윤곽 */
	.pickingBox {
		width: 100%;
	}
	.pickingBox>div {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.pickingBox>div:nth-child(4) {
		margin-bottom: 0;
	}
	.pickingBox>div:nth-child(8) {
		margin-bottom: 0;
	}
	.pickingBoxDesc {
		position: absolute;
		top: 0;
		left: 69px; /*메인메뉴 제목 너비보다 1px작게*/
		width: calc(100% - 69px); /*absolute 속성에서 움직인 거리만큼 빼주면 원래 100% 길이 나옴
    /* width: 230px; */
		/*최소너비 수정 시 계산하여 조정*/
		height: 62px;
		vertical-align:middle;
		font-size: 14px;
		color: #333;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
		padding: 8px 10px 0;
	}
	.pickingBox>div:nth-child(4)>.pickingBoxDesc {
		padding-top: 18px;
	}

	/* 메인메뉴 제목 모양 */
	.pickingBox>div>input {
		display: none;
	}
	.pickingBox>div>label {
		display: block;
		width: 70px; /* width 초기값 176px */
		height: 62px;
		z-index: 9;
		font-size: 14px; /*최소 너비에 맞게 조정*/
		color: #9542bf;
		text-transform: uppercase;
		text-align: center;
		line-height: 60px;
		background: linear-gradient(to bottom, #fcb5e0 10%, #eeccec 95%);
		border: solid 1px #f5d1e9;
		border-radius: 10px 0 0 10px;
		transition: all 0.4s ease-in;
	}
	.pickingBox:nth-child(1)>div>label:hover {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>input:checked ~ label {
		z-index: 11;
		cursor: pointer;
		line-height: 60px;
		color: #333;
		background: #fff;
		border: solid 1px #f5d1e9;
	}

	/* 메인&서브메뉴 사이 블라인드 */
	.pickingBox>div>.blind2 {
		z-index: 9;
		position: absolute;
		left: 69px;
		top: 62px; /*메인메뉴 제목 너비보다 1작게*/
		width: 2px;
		height: 10px;
		background: #fff;
	}
	.pickingBox>div>.blind3 {
		z-index: 2;
		position: absolute;
		left: 70px;
		top: 1px; /*메인메뉴 제목 너비와 같게*/
		width: 1px;
		height: 60px;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>label:hover+div {
		z-index: 11;
		position: absolute;
		left: 69px;
		top: 1px; /*메인메뉴 제목 너비보다 1작게*/
		width: 2px;
		height: 60px;
		background: #fff;
	}
	.pickingBox:nth-child(1)>div>input:checked ~ div:nth-child(-n+3) {
		z-index: 11;
		position: absolute;
		left: 69px;
		top: 1px; /*메인메뉴 제목 너비보다 1작게*/
		width: 2px;
		height: 60px;
		background: #fff;
	}

	/* 서브메뉴 모양 */
	.submenu {
		z-index: 1;
		position: absolute;
		left: 69px; /*메인메뉴 제목 너비보다 1 작게*/
		height: 278px;
		width: 0;
		overflow: hidden;
		background: #fff;
		border: 1px solid #f5d1e9; /* 얘를 가리기 위한 블라인드 필요, 전체 길이에 추가됨*/
		border-radius: 0 10px 10px 0;
		transition: all 0.4s ease-in; /* 작동 안하는 이유 불명 */
	}
	.submenuNose {
		top: 0;
	}
	.submenuPalate {
		top: -72px;
	}
	.submenuFinish {
		top: -144px;
	}
	.submenuType {
		top: -216px;
	}

	/* 서브메뉴 슬라이드 모양 */
	#noseBtn:checked ~ .submenuNose {
		z-index: 10;
		width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
		border: 1px solid #f5d1e9;
	}
	#palateBtn:checked ~ .submenuPalate {
		z-index: 10;
		width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
		border: 1px solid #f5d1e9;
	}
	#finishBtn:checked ~ .submenuFinish {
		z-index: 10;
		width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
		border: 1px solid #f5d1e9;
	}
	#typeBtn:checked ~ .submenuType {
		z-index: 10;
		width: calc(100% - 69px); /* .pickingBoxDesc 너비와 같게 */
		border: 1px solid #f5d1e9;
	}

	/* 서브메뉴 하위 항목들 모양 */
	.submenu input {
		display: none;
	}
	.submenu input:checked+label {
		color: #9542bf;
		text-shadow: 0 0 2px #9542bf;
	}
	.submenu label {
		float: left;
	}
	.submenu label {
		display: block;
		float: left;
		padding: 5px 10px;
		cursor: pointer;
		text-transform: uppercase;
		transition: all 0.4s ease-in;
	}
	.submenu label:hover {
		color: #9542bf;
	}
	.pickingBox>div>.submenu>label {
		font-size: 14px;
	}

	/* 하단 서브메뉴 - 선택된 항목 출력 */
	.r-pickingBox {
		width: 100%;
	}
	.r-pickingBox>div {
		position: relative;
		width: 100%;
	}
	.r-pickingBox>div>label {
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}
	.r-pickingBox>div>.pickedBox {
		position: absolute;
		top: 0;
		left: 69px; /*메인메뉴 제목 너비보다 1px작게*/
		width: calc(100% - 69px);
		height: 62px;
		border: 1px solid #f5d1e9;
		border-radius: 0 10px 10px 0;
	}
	.pickedBox>div:nth-child(1) {
		display: flex;
		align-items: center;
		padding: 0 30px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		color: #333;
	}
	.pickedBox>div>label {
		position: relative;
		margin-right: 15px;
		height: 42px;
		padding: 5px 50px 5px 20px;
		white-space: nowrap;
		line-height: 29px;
		font-size: 14px;
		color: #333;
		text-transform: uppercase;
		text-align: center;
		border: 1px solid #9542bf;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox>div>label::after {
		position: absolute;
		top: 10px;
		right: 20px;
		content: "×";
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		width: 18px;
		height: 18px;
		background: #333;
		border-radius: 50%;
	}
	.pickedBox>div>label:hover {
		color: #9542bf;
		border: 1px solid transparent;
		background: linear-gradient(to bottom, #fad6e0 10%, #eeccec 95%);
	}

	/* submenu2 스크롤 화살표 */
	.pickedBox .chevron {
		z-index: 9;
		position: absolute;
		top: calc(50% - 20px);
		width: 20px;
		height: 40px;
		cursor: pointer;
		transition: all 0.4s ease-in;
	}
	.pickedBox .chevron:hover {
		filter: invert(0.9);
	}
	.pickedBox .Lchevron {
		left: 10px;
		background: url(../imgs/toLeft.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}
	.pickedBox .Rchevron {
		right: 10px;
		background: url(../imgs/toRight.png) no-repeat center;
		background-size: cover;
		filter: invert(0.5);
	}

	/* 하단 서브메뉴 overflow 쉐이딩박스 */
	.pickedBox .shading {
		position: absolute;
		top: 1px;
		z-index: 8;
		width: 50px;
		height: calc(100% - 1px);
	}
	.pickedBox div[class*="left"] {
		left: 0px;
		background: linear-gradient(to right, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
	.pickedBox div[class*="right"] {
		right: 0px;
		border-radius: 0 10px 10px 0;
		background: linear-gradient(to left, #fff 30%, rgba(33, 33, 33, 0) 70%);
	}
	
}